@model TextileCRM.Domain.Entities.Customer

@{
    ViewData["Title"] = "Müşteri Sil";
}

<h1>Müşteri Sil</h1>

<h3>Bu müşteriyi silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Müşteri Adı</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
        
        <dt class="col-sm-3">E-posta</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
        
        <dt class="col-sm-3">Telefon</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>
        
        <dt class="col-sm-3">Adres</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Listeye Dön</a>
    </form>
</div>